<%= error_messages_for 'expense' %>

<div class="box tabular">
  
<p class="object-select"><%= f.select :status_id, collection_expense_statuses, :label => l(:field_expense_status), :required => true %></p>
<p class="object-select">
  <%= label_tag :expense_contact_id,  l(:field_invoice_contact)%>
  <%= select_contact_tag('expense[contact_id]', @expense.contact, :is_select => Contact.visible.by_project(RedmineContactsInvoices.settings[:invoices_cross_project_contacts] ? nil : @project).count < 50, :cross_project_contacts => RedmineContactsInvoices.settings[:invoices_cross_project_contacts], :include_blank => true, :add_contact => true, :display_field => @expense.contact.blank?) %>
</p>  
<p><%= f.text_field :price, :label => l(:field_expense_price), :size => 10 %></p>
<p><%= f.text_field :expense_date, :size => 12, :required => true %><%= calendar_for('expense_expense_date') %> </p> 
<p class="object-select"><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true, :label => l(:label_assigned_to) %></p>   

<% @expense.custom_field_values.each do |value| %>
  <p>
    <%= custom_field_tag_with_label :expense, value %>
  </p>
<% end -%>

<p><%= f.text_field :description, :size => "100%" %></p>
</div>
<%= wikitoolbar_for 'invoice_description' %>
<fieldset><legend><%= l(:label_attachment_plural) %></legend>
<% if @expense.attachments.any? -%>
  <%= link_to_attachments @expense, :thumbnails => true %>
<% end %>

<p><%= render :partial => 'attachments/form', :locals => {:container => @expense} %></p>
</fieldset>  
<br>




