<h3><%= "#{l(:label_expense_stat_by_period)}#{' - ' + @expense.contact.name.strip if @expense && @expense.contact}"  %></h3>
<table class="invoices-stat">
  <tr>
    <th><%= l(:label_this_week).mb_chars.capitalize.to_s %></th>      
    <td class="sum"><%= expense_price(@current_week_sum) %></td>
  </tr>
  <tr>
    <th><%= l(:label_last_week).mb_chars.capitalize.to_s %></th>      
    <td class="sum"><%= expense_price(@last_week_sum) %></td>
  </tr>
  <tr>
    <th><%= l(:label_this_month).mb_chars.capitalize.to_s %></th>      
    <td class="sum"><%= expense_price(@current_month_sum) %></td>
  </tr>
  <tr>
    <th><%= l(:label_last_month).mb_chars.capitalize.to_s %></th>      
    <td class="sum"><%= expense_price(@last_month_sum) %></td>
  </tr>
  <tr>
    <th><%= l(:label_this_year).mb_chars.capitalize.to_s %></th>      
    <td class="sum"><%= expense_price(@current_year_sum) %></td>
  </tr>

</table>
