<h3><%= "#{l(:label_expense_stat_by_status)}#{' - ' + @expense.contact.name.strip if @expense && @expense.contact}"  %></h3>
<table class="invoices-stat statuses">
  <tr>
    <th>
      <span class="deal-status expense-status tags draft" >
			  <span><%= link_to "#{l(:label_expense_status_draft)}#{'(' + @draft_status_count.to_s + ')' if @draft_status_count > 0 }", {:conroller => "expenses", :action => "index", :status_id => Expense::DRAFT_EXPENSE, :project_id => @project, :contact_id => @expense && @expense.contact } %> </span>                 
      </span>
    </th>      
    <td class="sum"><%= expense_price(@draft_status_sum) %></td>
  </tr>
  <tr>
    <th>
    <span class="deal-status expense-status tags new" >
		  <span><%= link_to "#{l(:label_expense_status_new)}#{'(' + @new_status_count.to_s + ')' if @new_status_count > 0 }", {:conroller => "expenses", :action => "index", :status_id => Expense::NEW_EXPENSE, :project_id => @project, :contact_id => @expense && @expense.contact } %> </span>                 
    </span>
    </th>      
    <td class="sum"><%= expense_price(@new_status_sum) %></td>
  </tr>
  <tr>
    <th>
    <span class="deal-status expense-status tags billed" >
		  <span><%= link_to "#{l(:label_expense_status_billed)}#{'(' + @billed_status_count.to_s + ')' if @billed_status_count > 0 }", {:conroller => "expenses", :action => "index", :status_id => Expense::BILLED_EXPENSE, :project_id => @project, :contact_id => @expense && @expense.contact } %> </span>                 
    </span>
    </th>      
    <td class="sum"><%= expense_price(@billed_status_sum) %></td>
  </tr>
  <tr>
    <th>
    <span class="deal-status expense-status tags paid" >
      <span><%= link_to "#{l(:label_expense_status_paid)}#{'(' + @paid_status_count.to_s + ')' if @paid_status_count > 0 }", {:conroller => "expenses", :action => "index", :status_id => Expense::PAID_EXPENSE, :project_id => @project, :contact_id => @expense && @expense.contact } %> </span>                 
    </span>
    </th>      
    <td class="sum"><%= expense_price(@paid_status_sum) %></td>
  </tr>
</table>
