<div class="contextual">
  <%= link_to_if_authorized l(:label_expense_new), {:controller => 'expenses', :action => 'new', :project_id => @project}, :class => 'icon icon-add' %>
  <%= link_to_if_authorized l(:label_contacts_import), { :controller => 'expense_imports', :action => :new, :project_id => @project }, :class => 'icon icon-import', :id => 'import_from_csv' %>

</div>

<h2><%= l(:label_expense_plural) %></h2>

<div class="filters">   
	<%= form_tag({:contoller => "expenses", :action => "index"}, :method => :get,  :id => "query_form") do %> 
		<%= hidden_field_tag('project_id', @project.to_param) if @project %>   
		<% no_filters = expenses_is_no_filters %>	
	
	<fieldset id="filters" class="collapsible <%= 'collapsed' if no_filters %>">
		<legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
		<div style="<%= 'display: none;' if no_filters %>">  
			<p>  
			  <span class="filter-condition">        
					<%= label_tag l(:label_expense_status) + " "  %>
					<%= select_tag :status_id, collection_for_expense_status_for_select(params[:status_id]) %>
        </span>
        <span class="filter-condition">        
          <%= label_tag l(:field_expense_date) + " "%>
  				<%= select_tag 'period', options_for_period_select(params[:period]) %>
        </span>
        
        <% if @project %>
        <span class="filter-condition">        
  				<%= label_tag l(:label_contact) + " "  %> 
  				<%= select_tag :contact_id, options_for_select(contacts_for_select(@project, :limit => 500), params[:contact_id]), :include_blank => true %>
        </span>
        <span class="filter-condition">        
          <%= label_tag l(:label_assigned_to) + " "  %> 
          <%= select_tag :assigned_to_id, options_for_select(@project.assignable_users.collect{|u| [u.name, u.id.to_s]}.insert(0, [""]),  params[:assigned_to_id]) %>
        </span>        
        <% end %>
			</p>    

		</div>
	</fieldset> 

  <% if RedmineContactsInvoices.settings[:invoices_excerpt_invoice_list].to_i > 0 %>
    <fieldset class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
      <div style="display: none;">
        <table>
          <tr>
            <td><label for='sort'><%= l(:label_sort) %></label></td>
            <td><%= select_tag('sort',
                               options_for_select(
                                 [[]] + 
                                 [[l(:field_expense_status), "#{Expense.table_name}.status_id:desc"],
                                  [l(:field_expense_date), "expense_date"]],
                                 params[:sort])
                       ) %></td>
          </tr>
        </table>
      </div>
    </fieldset>  
   <% end %>
	<p class="buttons hide-when-print">
	  	<%= link_to l(:button_apply), "#", :onclick=>"$('#query_form').submit()", :class => 'icon icon-checked' %>
    	<%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
	</p>                                                                    
	<% end %>  

</div>

<div id="contact_list" class="expense_list">  
<% if @expenses.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => RedmineContactsInvoices.settings[:invoices_excerpt_invoice_list] ? 'excerpt_list' : 'list' %>
	<p class="pagination"><%= pagination_links_full @expenses_pages, @expenses_count %></p>
<% end %>
</div>  

<% other_formats_links do |f| %>
    <%= f.link_to 'CSV', :url => params %>    
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'stat_by_period' %>
  <%= render :partial => 'stat_by_status' %>
<% end %>
         
<% html_title l(:label_expense_plural) %>    

<%= context_menu url_for( {:controller => "expenses", :action => "context_menu"} )%>  

<% content_for :header_tags do %>
	<%= stylesheet_link_tag :contacts_invoices, :plugin => 'redmine_contacts_invoices' %> 
	<%= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts' %>
	<meta name = "format-detection" content = "telephone=no">
<% end %>

